extend base

block content

  h1 uploaded seccess 
    span= `${data.name} product ---------` 

  .col-lg-6.grid-margin.stretch-card
  .card
    .card-body
      h4.card-title Hoverable Table
      p.card-description
        | Add class 
        code .table-hover
      .table-responsive
        table.table.table-hover
          thead
            tr
              th key
              th description
          tbody
            tr
              td=`Name`
              td=`${data.name}`
            tr
              td=`Type`
              td=`${data.type}`
            tr
              td=`Category`
              td=`${data.category}`
            tr
              td=`Price`
              td=`${data.price}`
            tr
              td=`PriceDiscount`
              td=`${data.priceDiscount}`
            tr
              td=`Description`
              td=`${data.description}`
            tr
              td=`Location`
              td=`${data.location}`
            tr
              td=`CareTips`
              td=`${data.careTips}`
            tr
              td=`AdditionalInfo`
              td=`${data.additionalInfo}`
            tr
              td=`Faq`
              td 
                each fa in data.faq 
                  span.d-block.m-2= `${fa.Q} : ${fa.A} --- ` 
            tr
              td=`MainImg`
              td
                img(src=`/public/images/${data.mainImg}`) 
            tr
              td=`RelatedImages`
              td=`${data.relatedImages}`  






